@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #282C33;
  --secondary-color: #ABB2BF;
  --white-color: #FFFFFF;
  --accent-color: #C778DD;
}


body {
  color: rgb(var(--primary-color));
  background: var(--primary-color);
}
